<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/books" routerLinkActive="active"*ngIf = "(authService.getuser()| async)">Book List</a>
      <a mat-list-item [routerLink]="['/temperatures','London']" routerLinkActive="active">Temperatures</a>
      <a mat-list-item [routerLink]="['/classifyes','NBC']" routerLinkActive="active">classifyes</a>
      <a mat-list-item [routerLink]="['/posts']" routerLinkActive="active">Posts</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hello1</span>
      <span class="spacer"></span>
      <a class = "whitelink" routerLink="/register" *ngIf = "!(authService.getuser()| async)">Register</a>
      <a class = "whitelink" routerLink="/login" *ngIf = "!(authService.getuser()| async)">Login</a>
      <a class = "whitelink" (click) = "authService.logout()" *ngIf = "(authService.getuser()| async)">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
