<label id="example-radio-group-label">Pick your favorite station</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteStation" >
  <mat-radio-button class="example-radio-button" *ngFor="let station of stations" [value]="station">
    {{station}}
  </mat-radio-button>
</mat-radio-group>
<div>Your favorite station is: {{favoriteStation}}</div>
{{href}}
