
 <p *ngIf = "!(authService.getuser()| async)"> you are not logged in</p>
<p *ngIf = "(authService.getuser()| async)">
<mat-accordion>
  <mat-expansion-panel *ngFor = "let book of books$ | async;let i = index"
                         (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{book.title}}
      </mat-panel-title>
      <mat-panel-description>
        {{book.author}}
        <button mat-raised-button color = "primary" (click) = "deleteBook(book.id)">Delete Book</button>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <button mat-raised-button color = "primary" (click) ="editState[i] = !editState[i]" >Edit Book</button>
      <bookform
      [hidden] = "!editState[i]"
      [title] = "book.title"
      [author] = "book.author"
      [id] = "book.id"
      (update) = "update($event); editState[i] = !editState[i]"
      (close) = "editState[i] = !editState[i]"
      >
      </bookform>


    <p>{{book.summary}}</p>
  </mat-expansion-panel>
</mat-accordion>
<button mat-raised-button color = "primary" (click) = "editStateAdd = !editStateAdd">Add Book</button>
<bookaddform
[hidden] = "!editStateAdd"
(add) = "addBook($event); editStateAdd = !editStateAdd"
(close) = "editStateAdd = !editStateAdd"
>
</bookaddform>
</p>
