<mat-card>
  <h1>Update book</h1>
  <form #UpdateForm="ngForm" >
    <div class="example-container">
      <p>
          <mat-form-field appearance="standard">
            <mat-label>Author</mat-label>
            <input matInput
              [(ngModel)] = "author"
              name = "author"
              required>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>title</mat-label>
             <input matInput
              [(ngModel)] = "title"
              name = "title"
              required>
          </mat-form-field>
        </p>
      <div >
          <button mat-raised-button color="primary" (click) = "updateParent()" >
            Update book
          </button>
          <button mat-raised-button  (click) = "closeForm()" >
            close
          </button>
      </div>
    </div>
  </form>
 </mat-card>
