
<p *ngIf= "!(WheaterData$ | async)&&!hasError">Loading data..</p>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title *ngIf = "!hasError">Temperature in {{city}} {{country}}</mat-card-title>
    <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src={{image}} alt="Photo of a wheather">
  <mat-card-content>
    <p>
      {{temperature | number :'1.0-0'}}°<br>
      {{lat}}°<br>
      {{lon}}°
      <!-- creates a format using the pipe check angular api for more pipes -->
    </p>
    <a mat-list-item routerLink="/city" routerLinkActive="active">Select city</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>




